<a href="https://colab.research.google.com/github/AcerPing/NTUT_FinancialBigData/blob/main/%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8C%97%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%B8_%E9%87%91%E8%9E%8D%E5%A4%A7%E6%95%B8%E6%93%9A_%E4%BD%9C%E6%A5%AD4_%E9%97%9C%E8%81%AF%E5%88%86%E6%9E%90(20230519).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import string as st

In [2]:
# pd.set_option('display.max_columns',500)
# pd.set_option('display.max_rows',200)
df = pd.read_csv("gamestudy.csv", encoding = 'ISO-8859-1')
df

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,SWL_T,SPIN_T,Residence_ISO3,Birthplace_ISO3
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13459,14246,42057.75678,1,0,0,1,0,1,1,Not difficult at all,...,France,France,Reddit,Multiplayer - online - with strangers,Accept,4,28,7.0,FRA,FRA
13460,14247,42057.81185,3,3,3,3,2,3,3,Extremely difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,20,23,25.0,USA,USA
13461,14248,42058.16964,0,0,0,0,0,0,0,Not difficult at all,...,Norway,Norway,Reddit,Multiplayer - online - with real life friends,Accept,0,32,10.0,NOR,NOR
13462,14249,42058.24420,3,2,1,3,0,1,3,Somewhat difficult,...,Canada,Canada,Reddit,Singleplayer,Accept,13,16,32.0,CAN,CAN
13463,14250,42058.36375,1,1,0,0,0,0,0,Somewhat difficult,...,Canada,Canada,Reddit,Multiplayer - online - with strangers,Accept,2,25,14.0,CAN,CAN

In [3]:
df.drop(['S. No.' , 'Timestamp'] , axis = 1 , inplace = True)

In [4]:
df.isnull().sum()

GAD1                   0
GAD2                   0
GAD3                   0
GAD4                   0
GAD5                   0
GAD6                   0
GAD7                   0
GADE                 649
SWL1                   0
SWL2                   0
SWL3                   0
SWL4                   0
SWL5                   0
Game                   0
Platform               0
Hours                 30
earnings               0
whyplay                0
League              1838
highestleague      13464
streams              100
SPIN1                124
SPIN2                154
SPIN3                140
SPIN4                159
SPIN5                166
SPIN6                156
SPIN7                138
SPIN8                144
SPIN9                158
SPIN10               160
SPIN11               187
SPIN12               168
SPIN13               187
SPIN14               156
SPIN15               147
SPIN16               147
SPIN17               175
Narcissism            23
Gender                 0
Age                    0
Work                  38
Degree                 0
Birthplace             0
Residence              0
Reference             15
Playstyle              0
accept               414
GAD_T                  0
SWL_T                  0
SPIN_T               650
Residence_ISO3       110
Birthplace_ISO3      121
dtype: int64

In [5]:
df.shape

(13464, 53)

In [6]:
df['Hours_streams'] = df['Hours'] + df['streams']
df['Hours_streams']

0        15.0
1        10.0
2         0.0
3        25.0
4        21.0
         ...
13459    50.0
13460    40.0
13461    34.0
13462     5.0
13463    23.0
Name: Hours_streams, Length: 13464, dtype: float64

In [7]:
df[df['Hours_streams'] > 115].index

Int64Index([  611,   791,  1152,  1216,  1947,  2931,  3112,  3482,  3860,
             3990,  4024,  4069,  4363,  4416,  4804,  5430,  5641,  6171,
             6669,  6819,  7615,  7812,  8228,  8418,  8482,  8776,  8801,
             8961,  9070,  9094,  9435,  9463,  9514,  9723,  9793,  9856,
             9966, 10945, 10997, 11192, 11528, 11863, 12013, 12270, 12301,
            12395, 13223, 13279, 13345],
           dtype='int64')

In [8]:
df[df['Hours_streams']==0].index

Int64Index([2, 54, 58, 12779], dtype='int64')

In [9]:
(df[df['Hours_streams'] > 115].index) | (df[df['Hours_streams']==0].index)

<ipython-input-9-95bd3b793440>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  (df[df['Hours_streams'] > 115].index) | (df[df['Hours_streams']==0].index)

Int64Index([    2,    54,    58,   611,   791,  1152,  1216,  1947,  2931,
             3112,  3482,  3860,  3990,  4024,  4069,  4363,  4416,  4804,
             5430,  5641,  6171,  6669,  6819,  7615,  7812,  8228,  8418,
             8482,  8776,  8801,  8961,  9070,  9094,  9435,  9463,  9514,
             9723,  9793,  9856,  9966, 10945, 10997, 11192, 11528, 11863,
            12013, 12270, 12301, 12395, 12779, 13223, 13279, 13345],
           dtype='int64')

In [10]:
df.drop(  ((df[df['Hours_streams'] > 115].index) | (df[df['Hours_streams']==0].index)),axis=0,inplace=True)

<ipython-input-10-2fea3e477c72>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df.drop(  ((df[df['Hours_streams'] > 115].index) | (df[df['Hours_streams']==0].index)),axis=0,inplace=True)

In [11]:
# df['Hours_streams'].value_counts()

In [12]:
df.GADE.value_counts()

Not difficult at all    6218
Somewhat difficult      5132
Very difficult          1004
Extremely difficult      409
Name: GADE, dtype: int64

In [13]:
df.GADE.fillna(df.GADE.value_counts().index[1] , inplace=True) #1

In [14]:
df.streams.fillna(int(df.streams.mean()) , inplace = True)

In [15]:
df.Hours.fillna(int(df.Hours.mean()) , inplace = True)

In [16]:
df.drop('Hours_streams' , axis = 1 , inplace = True)

In [17]:
df.League = df.League.str.lower().str.strip()
print(df.League.nunique())

1199

In [18]:
df["League"] =df["League"].str.extract(r'^([a-z]+)')

In [19]:
df.League.unique()

array([nan, 'gold', 'none', 'na', 'diamond', 'not', 'bronze', 'silver',
       'n', 'unranked', 'bad', 'legendary', 'global', 'potato', 'master',
       'silverii', 'platinum', 'masters', 'challenger', 'lvl', 'platin',
       'promos', 'top', 'd', 'plat', 'i', 'rank', 'grandmaster',
       'platnium', 's', 'haven', 'platinium', 'in', 'gv', 'provisional',
       'placements', 'g', 'was', 'the', 'division', 'pplatinum', 'hr',
       'only', 'platium', 'legend', 'platine', 'plarinum', 'dmg',
       'sliver', 'dont', 'high', 'very', 'starcraft', 'challenjour',
       'fusion', 'low', 'unraked', 'havent', 'got', 'golden', 'cs', 'p',
       'standard', 'still', 'highest', 'nope', 'dia', 'league', 'nova',
       'mge', 'silber', 'siver', 'never', 'b', 'platinun', 'mg',
       'supreme', 'for', 'greater', 'wood', 'le', 'no', 'natural', 'aram',
       'don', 'currently', 'noone', 'grand', 'hs', 'current', 'last',
       'first', 'recently', 'fucking', 'grandmasters', 'golf', 'of',
       'glod', 'tier', 'soloq', 'unrranked', 'esl', 'golld', 'double',
       'used', 'new', 'lem', 'csgo', 'c', 'platonum', 'eu', 'bronce',
       'sil', 'finished', 'what', 'zilean', 'unrank', 'cardboard',
       'goled', 'ranked', 'heroic', 'torment', 'lowest', 'lol', 'plata',
       'almost', 'platnum', 'season', 'diaomnd', 'german', 'placed', 'un',
       'mid', 'uwot', 'spanish', 'around', 'sc', 'germany', 'conqueror',
       'charrenjour', 'unrankt', 'im', 'plantinum', 'placement', 'close',
       'diamont', 'platinuim', 'hearthstone', 'finishing', 'non', 'coals',
       'qualifiying', 'god', 'distinguished', 'doing', 'seaon', 'pre',
       'unable', 'legdendary', 'ended', 'unfranked', 'were', 'promotion',
       'seeding', 'idk', 'probably', 'ex', 'smfc', 'unplaced',
       'gladiator', 'peaked', 'will', 'climbing', 'gm', 'angolan',
       'challeneger', 'golderino', 'didnt', 'platinumm', 'provisionals',
       'atm', 'unrakned', 'x', 'yes', 'under', 'range', 'formerly',
       'having', 'silveriv', 'sem', 'elohell', 'promotions', 'unseeded',
       'ugc', 'giii', 'if', 'level', 'lissandra', 'north', 'guardian',
       'broze', 'diamomd', 'just', 'platv', 'unfinished', 'euw',
       'platina', 'ahgl'], dtype=object)

In [20]:
df.loc[(df['whyplay']== 'having fun') ,'League'] = df.loc[(df['whyplay']== 'having fun') ,'League'].fillna('unranked')
df.League.fillna('gold' , inplace = True)

In [21]:
golds = ['g', 'gv', 'golden' ,'glod' ,'golld' ,'golf', 'goled', 'golderino' ,'giii']
df['League'] = df.League.replace(golds , 'gold')

In [22]:
silvers = [ 'silverii' , 's' , 'sliver' , 'siver' , 'silber' , 'sil' , 'silveriv']
df['League'] = df.League.replace(silvers , 'silver')

In [23]:
plats = [
    'platinium' , 'platnium' , 'platin' ,'pplatinum' ,'plarinum' ,'platium', 'p' ,'platine' ,
    'platinun' ,'platonum' ,'platnum', 'plata' ,'plantinum',
    'platinuim' ,'platunum', 'plantinum' ,'platunum' ,'platinumm' ,'platv' ,'platina' , 'plat' 
]
df['League'] = df.League.replace(plats , 'platinum')

In [24]:
bronzers = ['bronce' , 'b' , 'broze' ,'lowest' , 'wood', 'elohell'] 
df['League'] = df.League.replace(bronzers , 'bronze')

In [25]:
unranked = ['none' ,'na', 'not' ,'n' ,'promos' ,'provisional' ,'placements' , 'dont' , 'was', 'unraked',
            'havent', 'never', 'nope', 'no', 'noone', 'don', 'of', 'unrranked', 'new', 'what', 'unrank' ,
            'ranked', 'placement', 'unrankt' , 'non', 'unfranked' , 'promotion', 'idk',
            'unplaced', 'probably', 'provisionals', 'didnt' ,'unrakned' , 'unfinished' , 'just' , 'x' ,
            'promotions' , 'unseeded' , 'haven']
df['League'] = df.League.replace(unranked , 'unranked')

In [26]:
diamonds =  ['d', 'dia', 'diaomnd', 'diamont','diamomd']
df['League'] = df.League.replace(diamonds , 'diamond')

In [27]:
gm =  ['grand', 'gm', 'grandmasters']
df['League'] = df.League.replace(gm , 'grandmaster')

In [28]:
chall =  ['challenjour', 'c', 'charrenjour', 'challeneger']
df['League'] = df.League.replace(chall , 'challenger')

In [29]:
df['League'] = df.League.replace('mg' , 'mge')
df['League'] = df.League.replace('masters' , 'master')
df['League'] = df.League.replace( ['le', 'legdendary'] , 'legendary')

In [30]:
counts = df['League'].value_counts()
df['League'] = df['League'][~df['League'].isin(counts[counts < 3].index)]

In [31]:
df['League'] = df.League.replace(['i' , 'currently' , 'high' , 'season' , 'lol','cs' ,
                                  'last' ,'csgo','starcraft' ,'geater' , 'in', 'rank' , 'still'] , np.nan)

In [32]:
df.League.fillna('unspecified' , inplace=True)

In [33]:
df.League.value_counts()

gold           4074
platinum       2640
silver         2278
unranked       1714
diamond        1628
bronze          552
unspecified     207
master          163
challenger       76
grandmaster      17
dmg              11
legendary         8
mge               8
league            7
top               6
legend            6
nova              5
supreme           4
greater           4
lem               3
Name: League, dtype: int64

In [34]:
df.drop(["Birthplace","Birthplace_ISO3"],axis=1,inplace=True)

In [35]:
df['Residence'] = df['Residence'].replace('Unknown',df['Residence'].mode()[0])

In [36]:
df['Reference'].fillna('Other',inplace=True)

In [37]:
df.drop(df[df['accept'].isnull()].index , axis=0 , inplace=True)

In [38]:
df['Residence_ISO3'].fillna('USA',inplace=True) #11063

In [39]:
df.loc[11063,'Residence_ISO3'] = 'XXK'

In [40]:
col = ['SPIN1','SPIN2','SPIN3','SPIN4','SPIN5','SPIN6','SPIN7','SPIN8','SPIN9',
     'SPIN10','SPIN11','SPIN12','SPIN13','SPIN14','SPIN15','SPIN16','SPIN17' ,'SPIN_T']
for i in col :
    df[i].fillna(df[i].mode()[0], inplace = True)

In [41]:
df['Playstyle'] = df['Playstyle'].apply(lambda x: ' '.join(word.strip(st.punctuation) for word in x.split()))
df['earnings'] = df['earnings'].apply(lambda x: ' '.join(word.strip(st.punctuation) for word in x.split()))
df['whyplay'] = df['whyplay'].apply(lambda x: ' '.join(word.strip(st.punctuation) for word in x.split()))

In [42]:
df['Playstyle'] = df['Playstyle'].str.lower().str.strip()
df['whyplay'] = df['whyplay'].str.lower().str.strip()
df['earnings'] = df['earnings'].str.lower().str.strip()

In [43]:
df['Playstyle'].nunique()

278

In [44]:
df.drop('highestleague' , axis = 1 , inplace = True)

In [45]:
df.Work.fillna(df.Work.mode()[0] , inplace=True)

In [46]:
df.drop(['Residence' , 'accept'] , axis = 1 , inplace = True)

In [47]:
df.earnings.replace(df.earnings.value_counts().index[3:] , 'Other',inplace=True)
df['earnings'].value_counts()

i play for fun                                                                           11708
i play mostly for fun but earn a little on the side tournament winnings streaming etc      957
Other                                                                                      294
i earn a living by playing this game                                                        39
Name: earnings, dtype: int64

In [48]:
df.whyplay.replace(df.whyplay.value_counts().index[5:] , 'Other',inplace=True)
df['whyplay'].value_counts()

having fun          5138
improving           4728
winning             2018
relaxing             630
Other                428
all of the above      56
Name: whyplay, dtype: int64

In [49]:
df.Playstyle.replace(df.Playstyle.value_counts().index[5:] , 'Other',inplace=True)
df['Playstyle'].value_counts()

multiplayer  online  with real life friends                    5428
multiplayer  online  with strangers                            3969
multiplayer  online  with online acquaintances or teammates    2545
singleplayer                                                    720
Other                                                           292
multiplayer  offline people in the same room                     44
Name: Playstyle, dtype: int64

In [50]:
df.Playstyle.replace('Other' , np.nan , inplace=True)
df.whyplay.replace('Other' , np.nan , inplace=True)
df.earnings.replace('Other' , np.nan , inplace=True)

In [51]:
df.dropna(inplace=True)

In [52]:
df.isnull().sum()

GAD1              0
GAD2              0
GAD3              0
GAD4              0
GAD5              0
GAD6              0
GAD7              0
GADE              0
SWL1              0
SWL2              0
SWL3              0
SWL4              0
SWL5              0
Game              0
Platform          0
Hours             0
earnings          0
whyplay           0
League            0
streams           0
SPIN1             0
SPIN2             0
SPIN3             0
SPIN4             0
SPIN5             0
SPIN6             0
SPIN7             0
SPIN8             0
SPIN9             0
SPIN10            0
SPIN11            0
SPIN12            0
SPIN13            0
SPIN14            0
SPIN15            0
SPIN16            0
SPIN17            0
Narcissism        0
Gender            0
Age               0
Work              0
Degree            0
Reference         0
Playstyle         0
GAD_T             0
SWL_T             0
SPIN_T            0
Residence_ISO3    0
dtype: int64

In [53]:
df.shape

(12081, 48)

In [59]:
df.to_csv('gamestudy.csv')